.search-bar {
    display: flex;
    /* position: relative; */
}

.open-button {
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.search-input {
    position: absolute;
    background-color: white;
    top: 0;
    right: 0;
    display: none;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    z-index: 1;
}

.open {
    .search-input {
        display: absolute;
    }

    .open-button {
        display: none;
    }
}